<section class="section-body" id="contact">
	<div class="contact-background">
		<div class="contact-overlay">
			<div class="contact-contents">
				<div class="section-heading">
					<h1>STAY CONNECTED</h1>
					<hr>
				</div>
				<div class="contact-section-body">
					<p class="contact-status">Be in the know about event updates!</p>
					<br>
					<div class="contact-form">
						<input type="email" placeholder="Email address">
						<button class="btn contact-submit">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
