<section class="section-body" id="footer">
 	<p>&copy; 2015 <a href="https://github.com/kksy/Project4-Conf">WDI Conference</a></p>
	<p>A WDI Project by <a href="https://github.com/avielgoh">Aviel</a>, <a href="https://github.com/ivanyapeter">Ivan</a>, <a href="https://github.com/kksy">Kylie</a> &amp; <a href="https://github.com/fyrdmen">Toby</a></p>
</section>
