<section class="section-body" id="footer">
	<!-- <p>WDI Conference is a technology talk of General Assembly Melbourne</p>
	<br>
	<p>Site by</p>
	<ul class="member-list">
		<li>Aviel</li>
		<li>Kylie</li>
		<li>Ivan</li>
		<li>Toby</li>
	</ul>
	<i class="fa fa-github fa-2x"></i>
	<p><a href="https://github.com/kksy/Project4-Conf">Group Name</a></p> -->

	<p>&copy; 2015 <a href="https://github.com/kksy/Project4-Conf">[INSERT TEAM NAME]</a></p>
	<p>A WDI Project by <a href="https://github.com/avielgoh">Aviel</a>, <a href="https://github.com/ivanyapeter">Ivan</a>, <a href="https://github.com/kksy">Kylie</a> &amp; <a href="https://github.com/fyrdmen">Toby</a></p>
</section>
