<section id="home">

	<!-- BACKGROUND VIDEO -->
	<header>
		<nav role="navigation" class="header-nav">
			<ul>
        <li class="header-nav-item"><a href="/">&lt;WDI-CONF/&gt;</a></li>
				<li class="header-nav-item"><a href="#about">About</a></li>
				<li class="header-nav-item"><a href="#speakers">Speakers</a></li>
        <li class="header-nav-item"><a href="#schedule">Schedule</a></li>
				<li class="header-nav-item"><a href="#register">Register</a></li>
			</ul>
		</nav>
	</header>

	<!-- BACKGROUND VIDEO -->
	<div class="video">
		<video autoplay loop muted class="video-background">
			<source src="http://pausefest.com.au/assets/video/background.mp4" type="video/mp4">
		</video>

		<div class="video-overlay-wrapper">
      <div class="video-overlay-contents">
  			<h1>&lt;WDI-CONF/&gt;</h1>
  			<h3>11-DECEMBER-2015</h3>
        <button class="btn">BUY TICKETS</button>

        <div class="countdown">
          <table align="center">
            <tr>
              <td class="countdown-item table-border" id="days"></td>
              <td class="countdown-item table-border" id="hours"></td>
              <td class="countdown-item table-border" id="minutes"></td>
              <td class="countdown-item" id="seconds"></td>
            </tr>
            <tr>
              <td class="countdown-type table-border">days</td>
              <td class="countdown-type table-border">hours</td>
              <td class="countdown-type table-border">minutes</td>
              <td class="countdown-type">seconds</td>
            </tr>
          </table>
        </div>
      </div>
		</div>
	</div>
</section>
