<section id="home">

	<!-- NAVIGATION BAR -->
	<header>

		<nav id="main-nav" role="navigation" class="header-nav">
      <ul>
        <li class="header-nav-item"><a href="#home" class="smoothScroll">&lt;WDI-CONF/&gt;</a></li>
				<li class="header-nav-item"><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li class="header-nav-item"><a href="#map" class="smoothScroll">LOCATION</a></li>
				<li class="header-nav-item"><a href="#speakers" class="smoothScroll">SPEAKERS</a></li>
        <li class="header-nav-item"><a href="#schedule" class="smoothScroll">SCHEDULE</a></li>
				<li class="header-nav-item"><a href="#register" class="smoothScroll">REGISTER</a></li>
				<li class="header-nav-item"><a href="#sponsors" class="smoothScroll">SPONSORS</a></li>
			</ul>
    </nav>

    <nav id="responsive-nav" role="navigation" class="header-nav">
      <div class="menu-top">
        <span class="logo"><a href="#home">&lt;WDI-CONF/&gt;</a></span>
        <span class="hamburger"><i class="fa fa-bars fa-2x"></i></span>
      </div>

      <div class="responsive-menu">
        <ul>
          <a href="#about" class="smoothScroll"><li class="header-nav-item">ABOUT</li></a>
					<a href="#map" class="smoothScroll"><li class="header-nav-item">LOCATION</li></a>
          <a href="#speakers" class="smoothScroll"><li class="header-nav-item">SPEAKERS</li></a>
          <a href="#schedule" class="smoothScroll"><li class="header-nav-item">SCHEDULE</li></a>
          <a href="#register" class="smoothScroll"><li class="header-nav-item">REGISTER</li></a>
					<a href="#sponsors" class="smoothScroll"><li class="header-nav-item">SPONSORS</li></a>
        </ul>
      </div>
    </nav>

	</header>

	<!-- BACKGROUND VIDEO -->
	<div class="video">
		<video autoplay loop muted class="video-background">
			<source src="http://pausefest.com.au/assets/video/background.mp4" type="video/mp4">
		</video>

		<div class="video-overlay-wrapper">
      <div class="video-overlay-contents">
  			<h1>&lt;WDI-CONF/&gt;</h1>
  			<h3>11-DECEMBER-2015</h3>
        <button class="btn"><a href="#register" class="smoothScroll">BUY TICKETS</a></button>

        <div class="countdown">
          <table align="center">
            <tr>
              <td class="countdown-item table-border" id="days"></td>
              <td class="countdown-item table-border" id="hours"></td>
              <td class="countdown-item table-border" id="minutes"></td>
              <td class="countdown-item" id="seconds"></td>
            </tr>
            <tr>
              <td class="countdown-type table-border">days</td>
              <td class="countdown-type table-border">hours</td>
              <td class="countdown-type table-border">minutes</td>
              <td class="countdown-type">seconds</td>
            </tr>
          </table>
        </div>
      </div>
		</div>
	</div>

</section>
