<section id="map">
	<div class="map">
	</div>
	<div class="location">
		<h2>Location</h2>

		<p>General Assembly<br>
		45 William Street<br>
		Melbourne, Australia</p>

		<div class="location-actions">
			<a href="https://goo.gl/maps/aoGnsR8Jx612" class="btn btn-border">Map <i class="icon-chevron-right"></i></a>
			<i class="material-icons">gps_not_fixed</i>
		</div><!-- /.location-actions -->
	</div>
</section>