<section id="map">

	<!-- Insert Google Map here -->
	<div class="map"></div>
	<div class="map-overlay"></div>
	<div class="location">
		<div class="section-heading">
			<h1>Location</h1>
		</div>

		<p>GENERAL ASSEMBLY<br>
		Level 12A<br>
		45 William Street<br>
		Melbourne VIC 3000</p>

		<button class="btn"><a href="https://goo.gl/maps/aoGnsR8Jx612">MAP </a><span><i class="fa fa-chevron-right"></i></span></button>
	</div>
</section>
