<section class="section-body" id="register">
	<div class="section-heading">
      <h1>Registration</h1>
			<hr>
  </div>

  <div class="pricing-boxes">
    <div class="left-pricing-box pricing-box">
      <div class="box-head">
        <h3>STANDARD</h3>
      </div>
      <div class="box-body">
        <table align="center">
          <tr>
            <td class="box-body-pricing"><h4>$25 incl. GST</h4></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>Access to exhibits in Gulp Alley</p></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>Coffee by Barista Yapater</p></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="main-pricing-box pricing-box">
      <div class="box-head">
        <h3>THE GOLDEN <br>TICKET</h3>
      </div>
      <div class="box-body">
        <table align="center">
          <tr>
            <td class="box-body-pricing"><h4>$100 incl. GST</h4></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>A ticket to your future. Immerse yourself with VIP lounge access, personal introductions to the experts, a private lunch with the speakers and much more.</p></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right-pricing-box pricing-box">
      <div class="box-head">
        <h3>EXHIBITOR</h3>
      </div>
      <div class="box-body">
        <table align="center">
          <tr>
            <td class="box-body-pricing"><h4>$50 incl. GST</h4></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>One day to exhibit in Gulp Alley</p></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>Standard conference pass</p></td>
          </tr>
          <tr>
            <td class="box-body-description"><p>Lunch by Chef Swann</p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

	<!-- Insert Eventbrite widget here -->
  <div class="pricing-eventbrite">
    <iframe  src="http://eventbrite.com.au/tickets-external?eid=19927148638&ref=etckt" frameborder="0" height="339" vspace="0" width="100%" hspace="0" marginheight="5" marginwidth="5" scrolling="yes" allowtransparency="true"></iframe>
  </div>
</section>
