<section id="sponsors">
	<h1>Sponsors</h1>

  <p>WDI-CONF could not happen without the support of our amazing sponsors and attendees. If you are interested in sponsoring WDI-CONF in future years, please email sponsors@wdiconf.com for more information.</p>

</section>
