<section class="section-body" id="sponsors">
	<div class="section-heading">
		<h1>Sponsors</h1>
		<hr>
	</div>

	<div class="sponsors-section-body">
	  <p>WDI-CONF could not happen without the support of our amazing sponsors and attendees. If you are interested in sponsoring WDI-CONF in future years, please email <a href="mailto:sponsors@wdiconf.com">sponsors@wdiconf.com</a> for more information.</p>
		<div class="sponsors-logos">
			<img src="images/sponsors-ga-logo.png" alt="">
			<img src="images/fish-n-afro-logo.png" alt="">
		</div>
	</div>
</section>
