<section class="section-body" id="team">
	<div class="section-heading">
		<h1>Organisers</h1>
		<hr>
	</div>

	<div class="team-section-body">
		<p>Technology is a fast moving beast and over the past 12 weeks, General Assembly has been conducting an experiement on 11 individuals from all walks of life. The best and brightest learners have been gathered from all around the planet and put through the paces of the rigorous full-stack web development curriculum.</p>
		<br>
		<p>12 hours a day, 5 days a week for 12 weeks in a learning laboratory has unlocked hidden talents and produced some exceptional developers.</p>
		<br>
		<p>WDI-CONF is your opportunity to hear the results of this experiement from the participants themselves - the good, the bad and the ugly.</p>
	</div>

</section>
