<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>firebase test</title>
  <link rel="stylesheet" href='/stylesheets/normalize.css'>
  <link rel="stylesheet" href="/stylesheets/games.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
</head>
<body class="games">

  <div class="first-stage">
    <div class="enter-name-box">
      <header>
        <h1>Welcome to WDI-CONF!</h1>
        <p>Let's break some ice.</p>
      </header>
      <div>
        <input id="name" type="text" placeholder="Enter your full name">
        <span class="error-msg"></span>
        <button id="name-button" class="btn" type="button">Let's go!</button>
      </div>
    </div>
  </div>

  <div class="second-stage">
    <div class="game-bar">
      <div class="wrapper">
        <p id="user-name"></p>
      </div>
    </div>
    <div class="wrapper">
      <div class="questions-box">
      </div>
    </div>
  </div>

  <div class="third-stage">
    
  </div>


</body>
</html>

<script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>
<script>
function shuffle(o){
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
    return o;
}
var listOfQuestion = ['Has a blue dog', 'Has gone rock climbing', 'Has killed for parking', 'Has worked as a morgue technician for more the 3 years', 'Has eaten a marsupial', 'Has assembled Ikea furniture this year', 'Plays with arm rests on a regular basis'];
shuffle(listOfQuestion);


var ipUsername = myip.split('.').join("");
var ref = new Firebase("dazzling-inferno-9236.firebaseIO.com");
var newRef = new Firebase("dazzling-inferno-9236.firebaseio.com/users/"+ipUsername )
var usersRef = ref.child("users");
// var userQuestionRef = newRef.child("questions");
var userQuestionRef = newRef.child("questions");
var username;
var numberOfQestions = 5;
var questionObject;

function createUser(theUserName, ipName) {
usersRef.update({
  [theUserName]: {
    full_name: theUserName
  }
  });
userQuestionRef.set({
  });
}

$('#name-button').on('click', function(){
  username = $('#name').val() 
  if (username && (username.length >= 3 && username.length <= 8)){
    $('#user-name').text("Hey there, " + username + "! Find someone who:");
    console.log(ipUsername);
    createUser(username, ipUsername);
    createdQuestions();
  }else if (username){
    $('.error-msg').text("User name must be between 3 and 8 char");
  }
})

function createdQuestions() {
  $('.first-stage').empty().css("height", "0");
  $(".questions-box").css("padding-top", "125px");
  for ( var i = 1; i < 6; i++ ){
    var $label = $("<label>", {id: ("q"+i), class: "question"});
    var $inputBot = $("<input>", {id: ("a"+i), class: "input-a-name"});
    $($label).append("<p>"+ listOfQuestion[i] +"</p>");
    $(".questions-box").append($label);
    $(".questions-box").append($inputBot);
    $(".questions-box").append('<br>');
  }
  createSubmit();
}

function isEveryInputEmpty() {
    var allEmpty = true;

    $('input').each(function() {
        if ($(this).val() !== '') {
            allEmpty << true;
        }
    });
    if (allEmpty.length === 5) {
      console.log('here')
      return true;
    } else {
      return false;
    }
}

function createSubmit() {
  var $submit = $("<button>", {id: "submit-all-name", class: "submit btn"});
  $($submit).append("<p> Submit you names </p>");
  $("div.questions-box").append('<br>');
  $("div.questions-box").append($submit);     
  $('button#submit-all-name').on('click', function() {
    // var hopperRef = usersRef.child("user2");
      // console.log('here');
      var allEmpty = [];
      $('input').each(function() {
          if ($(this).val().length > 0){
            allEmpty.push(true);
          }
          
          if (allEmpty.length === numberOfQestions) {
            userQuestionRef.update({
            "question_1": $('#a1').val(),
            "question_2": $('#a2').val(),
            "question_3": $('#a3').val(),
            "question_4": $('#a4').val(),
            "question_5": $('#a5').val()
            });
            recallSecond();
          }
      });    
  });
}

function recallSecond() {
  newRef.on("value", function(snapshot) {
    questionObject = snapshot.val().questions;
    if (Object.keys(questionObject).length === numberOfQestions) {
      ref.update({winner: username});
      console.log('you are a winner');
      $('.second-stage').empty().css("height", "0");
      // $('body').html('<h1>WELL DONE, YOUR WERE MADE TO TALK TO HUMANS. ALL YOUR BASE ARE BELONG TO US</h1>');
      $finish = $("<p>", { class: "finish" }).text("Thank you for your participation, enjoy the rest of the talk.");
      $('.third-stage').css("height", "100vh").append($finish);
    }
  });
}  
</script>