<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

    <% include partials/stylesheets.ejs %>
    <% include partials/javascripts.ejs %>

  </head>
  <body>

		<% include partials/home.ejs %>
		<% include partials/about.ejs %>
    <% include partials/map.ejs%>
		<% include partials/speakers.ejs %>
		<% include partials/registration.ejs %>
		<% include partials/footer.ejs %>

  </body>
</html>
