<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/stylesheets.ejs %>
    <% include partials/javascripts.ejs %>
  </head>
  <body>

		<% include partials/home.ejs %>
		<% include partials/about.ejs %>
    <% include partials/map.ejs%>
		<% include partials/speakers.ejs %>
		<% include partials/register.ejs %>
		<% include partials/footer.ejs %>

  </body>
</html>
