<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="javascripts/landing.js"></script>
    <script src="javascripts/countdown.js"></script>
  </head>
  <body>

		<% include partials/home.ejs %>
		<% include partials/about.ejs %>
		<% include partials/speakers.ejs %>
		<% include partials/register.ejs %>
		<% include partials/footer.ejs %>

  </body>
</html>
