<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/stylesheets.ejs %>
    <% include partials/javascripts.ejs %>
  </head>
  <body>
    <!---------- HOME SECTION ---------->
		<% include partials/home.ejs %>
    <!---------- ABOUT SECTION ---------->
		<% include partials/about.ejs %>
    <!---------- MAP SECTION ---------->
    <% include partials/map.ejs%>
    <!---------- SPEAKERS SECTION ---------->
		<% include partials/speakers.ejs %>
    <!---------- TIMETABLE SECTION ---------->
    <% include partials/timetable.ejs %>
    <!---------- REGISTRATION SECTION ---------->
		<% include partials/registration.ejs %>
    <!---------- CONTACT SECTION ---------->
    <% include partials/contact.ejs %>
    <!---------- SPONSORS SECTION ---------->
    <% include partials/sponsors.ejs %>
    <!---------- FOOTER SECTION ---------->
		<% include partials/footer.ejs %>
  </body>
</html>
