<!DOCTYPE html>
<html>

<!--
╦ ╦ ╦   ╔╦╗ ╦ ╦ ╔═╗ ╦═╗ ╔═╗ ┬
╠═╣ ║    ║  ╠═╣ ║╣  ╠╦╝ ║╣  │
╩ ╩ ╩    ╩  ╩ ╩ ╚═╝ ╩╚═ ╚═╝ o

Thanks for taking the time to checkout our code (more info at: https://github.com/kksy/Project4-Conf).

This project was undertaken as part of General Assembly's Web Development Immersive course we undertook in 2015.

If you like what you see, please feel free to get in contact with us:

  - Aviel Goh
    * Github: https://github.com/avielgoh
    * Email: avielgwk@gmail.com

  - Ivan Yapeter
    * Github: https://github.com/ivanyapeter
    * Email: ivanyapeter@gmail.com

  - Kylie Sy
    * Github: https://github.com/kksy
    * Email: kylksy@gmail.com

  - Toby Letcher
    * Github: https://github.com/fyrdmen
    * Email: tmletcher@gmail.com

Have a great day!
-->

  <head>
    <title><%= title %></title>
    <% include partials/stylesheets.ejs %>
    <% include partials/javascripts.ejs %>
  </head>
  <body>
    <!---------- HOME SECTION ---------->
		<% include partials/home.ejs %>
    <!---------- ABOUT SECTION ---------->
		<% include partials/about.ejs %>
    <!---------- MAP SECTION ---------->
    <% include partials/map.ejs%>
    <!---------- SPEAKERS SECTION ---------->
		<% include partials/speakers.ejs %>
    <!---------- TIMETABLE SECTION ---------->
    <% include partials/timetable.ejs %>
    <!---------- REGISTRATION SECTION ---------->
		<% include partials/registration.ejs %>
    <!---------- CONTACT SECTION ---------->
    <% include partials/contact.ejs %>
    <!---------- SPONSORS SECTION ---------->
    <% include partials/sponsors.ejs %>
    <!---------- FOOTER SECTION ---------->
		<% include partials/footer.ejs %>
  </body>
</html>
