body {
  /*font-family: 'Menlo';*/
  background-color: white;
}

#home {
  height: 100vh;
}

/***** NAVIGATION *****/

nav {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 500;
}

nav#main-nav {
  display: none;
}

nav#responsive-nav {
  display: block;
}

nav ul li {
  display: block;
  padding: 10px 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

nav a {
  padding: 10px 0;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
  letter-spacing: 0.15em;
}

nav a:hover {
  color: rgb(0, 199, 117);
}

.active {
  border-bottom: 4px solid rgb(0, 199, 117);
  color: rgb(0, 199, 117);
}

.logo {
  float: left;
  padding: 20px;
}

.hamburger {
  float: right;
  padding: 12px 20px;
  color: rgb(0, 199, 117);
}

.responsive-menu {
  margin-top: 55px;
  background-color: black;
  display: none;
}

.responsive-menu li {
  padding-left: 20px;
}

.responsive-menu li:hover {
  background-color: white;
}

.responsive-menu.showing {
  display: block;
}

/***** VIDEO *****/

.video {
  position: relative;
  text-align: center;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-overlay-wrapper {
  display: flex;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-overlay-contents {
  margin: 10px;
}

.video-overlay-contents h1 {
  font-size: 6em;
}

.video-overlay-contents h3 {
  font-size: 1.5em;
  margin-bottom: 5%;
}

/***** COUNTDOWN *****/

.countdown {
  align-self: baseline;
  margin-top: 5%;
}

.countdown table {
  width: 75%;
  border-collapse: collapse;
}

.countdown td {
  text-align: center;
  width: 25%;
}

.countdown .table-border {
  border-right: 1px solid white;
}

.countdown .countdown-item {
  font-size: 3em;
  text-transform: uppercase;
}

.countdown .countdown-type {
  font-size: 1em;
  text-transform: lowercase;
}

.buy-btn {
  padding-right: 10%;
  padding-left: 10%;
}

/***** MEDIA QUERIES *****/

@media screen and (min-width: 750px) {

  nav#responsive-nav {
    display: none;
  }

  nav#main-nav {
    display: inline-block;
  }

  .header-nav-item {
    padding-left: 20px;
  }

  nav ul {
    padding-top: 10px;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  nav li:hover {
    background-color: none;
  }

  .video-overlay-contents h1 {
    font-size: 8em;
  }

  .video-overlay-contents h3 {
    font-size: 2em;
  }

  .countdown .countdown-type {
    font-size: 1em;
  }

}
