html {
	box-sizing: border-box;
}

h1, h2 {
	margin: 0;
}

h2 {
	text-align: center;
}

#about {
	background-color: #fae596;
	padding: 30px;

	p {
		opacity: 0;
		&.show {
			opacity: 1;
			transition: 1s;
		}
	}
}

#map {
	height: 100px;
	width: 100%; 
}

#speakers {
	background-color: #dddfd4;
	padding: 30px;
	overflow: hidden;

	h2 {
		margin-bottom: 20px;
	}
}

.speaker {
	// float: left;
	// width: 32%;
	opacity: 0;
	transform: translateX(-20px);
	// margin-right: 2%;
	// margin-bottom: 2%;
	// &:nth-of-type(3n) {
	// 	margin-right: 0;
	// }

	text-align: center;

	&.show {
		opacity: 1;
		transform: translateY(0px);
		transition: 1s;
	}

	img {
		max-width: 100%;
		display: block;
		width: 15em;
		height: 15em;
		border-radius: 50%;
		margin: 0 auto;
		-webkit-filter: grayscale(1);
  	filter: grayscale(1);

  	&:hover {
	  	-webkit-filter: grayscale(0);
	  	filter: grayscale(0);
  	}
	}
}

#timetable {
	background-color: #48b379;
	padding: 30px;
}

#register {
	padding: 30px;
}

#footer {
	background-color: #173e43;
	padding: 30px;
	color: #fff;
	text-align: center;
}

// media queries

@media screen and (min-width: 650px) {
	.speaker {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 900px) {
	.speaker {
		float: left;
		width: 33.3333%;
	}

	#timetable {
		padding-left: 10em;
		padding-right: 10em;
	}
}

@media screen and (min-width: 1200px) {
	#speakers, #about {
		padding-left: 13%;
		padding-right: 13%;
	}

	#timetable {
		padding-left: 15em;
		padding-right: 15em;
	}
}

/* -------------------------------------
 * timeline
 * adapted from CSS3 Timeline by Peiwen Lu
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 75px;
  padding-left: 30px;
  border-left: 8px solid #eee9dc;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}

#timeline p {
  margin: 0 0 15px;
}

.date {
	margin-top: 20px;
  top: 50%;
  left: -129px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -75px;
  width: 70px;
  height:70px;
  -webkit-filter: grayscale(1);
    filter: grayscale(1);
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  max-width: 90%;
  padding: 50px 20px 0;
  left: 20px;
  top: 30px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}

.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.content:after {
  border-right-color: #48b379;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 50px;
  left: 20px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}

.radio:checked + .relative .circle {
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.radio:checked ~ .content {
  max-height: 180px;
  border-color: #eee9dc;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #eee9dc;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #eee9dc;
  }

  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }

  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }

  .content:after {
    border-bottom-color: #48b379;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }

  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}