$primary-color: rgb(234, 82, 111);

html {
	box-sizing: border-box;
}

h1, h2 {
	margin: 0;
}

h2 {
	text-align: center;
}

.btn {
  border: 1px solid transparent;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 0.8em;
  margin: 5%;
  font-size: 1.2em;
  width: 30%;
  color: white;
	
	&:hover {
  	background-color: lighten($primary-color, 10%);
  }
}


#about {
	background-color: #fae596;
	padding: 30px;

	p {
		opacity: 0;
		&.show {
			opacity: 1;
			transition: 1s;
		}
	}
}

#map {
	position: relative;
}

.map {
	height: 400px;
	width: 100%; 
}

.location {
	position: absolute;
	left: 50%;
	top: 50%;
	padding-left: 16px;
	border-left: 4px solid #fff;
	color: #fff;
	margin-left: -417px;
	line-height: 1.5;
	max-width: 240px;
	transform: translateY(-50%);

	a {
		text-decoration: none;
	}
}

#speakers {
	background-color: #dddfd4;
	padding: 30px;
	overflow: hidden;

	h2 {
		margin-bottom: 20px;
	}
}

.speaker {
	// float: left;
	// width: 32%;
	opacity: 0;
	transform: translateX(-20px);
	// margin-right: 2%;
	// margin-bottom: 2%;
	// &:nth-of-type(3n) {
	// 	margin-right: 0;
	// }

	text-align: center;

	&.show {
		opacity: 1;
		transform: translateY(0px);
		transition: 1s;
	}

	img {
		max-width: 100%;
		display: block;
		width: 15em;
		height: 15em;
		border-radius: 50%;
		margin: 0 auto;
		-webkit-filter: grayscale(1);
  	filter: grayscale(1);

  	&:hover {
	  	-webkit-filter: grayscale(0);
	  	filter: grayscale(0);
  	}
	}
}

#register {
	padding: 30px;
}

#footer {
	background-color: #173e43;
	padding: 30px;
	color: #fff;
	text-align: center;

	ul {
		padding: 0;
	}
	li {
		display: inline-block;
	}
}

// media queries

@media screen and (min-width: 650px) {
	.speaker {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 900px) {
	.speaker {
		float: left;
		width: 33.3333%;
	}
} 

@media (max-width: 991px) {
	.location {
		left: 20px;
		margin-left: 0;
	}
}

@media screen and (min-width: 1200px) {
	#speakers, #about {
		padding-left: 13%;
		padding-right: 13%;
	}
}
