$primary-color: rgb(0, 199, 117);

html {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 {
	margin: 0;
}

h2 {
	text-align: center;
}

.section-body {
	padding: 6%;
}

// style for each sections' heading
.section-heading {
	h1 {
		font-size: 2em;
	  text-align: center;
	  text-transform: uppercase;
	}

	hr {
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	width: 6%;
	height: 3px;
	background-color: $primary-color;
	color: $primary-color;
	border: 0 none;
	}
}

/* -------------------------------------
 * ABOUT SECTION
 * ------------------------------------- */

.about-section-body {
	width: 70%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
  opacity: 0;

	p {
		// text-align: center;
		font-size: 1em;
    text-align: justify;
	}

  &.show {
    opacity: 1;
    transition: 1s;
  }
}

.btn {
  border: 1px solid transparent;
  background-color: $primary-color;
  padding: 0.8em;
  font-size: 1.2em;
  color: white;

	&:hover {
  	background-color: lighten($primary-color, 10%);
  }

	a {
		text-decoration: none;
	}
}

/* -------------------------------------
 * MAP SECTION
 * ------------------------------------- */

#map {
	position: relative;
}

.map {
	height: 450px;
	width: 100%;
}

.location {
	position: absolute;
	left: 50%;
	top: 50%;
	padding-left: 16px;
	border-left: 4px solid #fff;
	color: #fff;
	margin-left: -417px;
	line-height: 1.5;
	max-width: 240px;
	transform: translateY(-50%);
	text-align: left;

	a {
		text-decoration: none;
	}

	.btn {
		padding: 0.5em;
	  font-size: 1em;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 10px;

		span {
			margin-left: 10%;
		}
	}
}

/* -------------------------------------
 * REGISTRATION SECTION
 * ------------------------------------- */

 .pricing-boxes {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 3%;
 }

 .pricing-box {
   display: inline-block;
   align-self: flex-end;
   width: 230px;
   height: 220px;
 }

 .left-pricing-box, .right-pricing-box {
   border-top: 2px solid lightgrey;
   border-bottom: 2px solid lightgrey;
 }

 .left-pricing-box {
   border-left: 2px solid lightgrey;
 }

 .right-pricing-box {
   border-right: 2px solid lightgrey;
 }

 .main-pricing-box {
   height: 244px;
   border: 4px solid $primary-color;
	 width: 250px;
 }

 .main-pricing-box .box-head {
   color: white;
   background-color: $primary-color;
 }

 .box-head {
   padding: 0.6em;
   background-color: lightgrey;
	 font-size: 1.2em;
 }

 .box-body td {
   padding: 0.5em;
   text-transform: none;
 }

 .box-body td h4 {
   font-size: 1.1em;
   color: $primary-color;
 }

 .box-body td p {
   font-size: 1em;
 }

	.pricing-eventbrite  {
		margin-left: auto;
		margin-right: auto;
		max-width: 710px;
		display: block;
		text-align: center;
		border: 2px solid lightgrey;
	}

@media screen and (max-width: 767px) {
		.pricing-boxes {
		 flex-wrap: wrap;
		 order: -1;
		 margin-left: 0;
		 margin-right: 0;
		 margin-bottom: 5%;
		}

		.main-pricing-box {
		 flex-grow: 2;
		 order: 1;
		 margin-bottom: 5%;
		 width: 100%;
		}

		.main-pricing-box .box-head {
		font-size: 1.3em;
		}

	 .main-pricing-box .box-body {
	   font-size: 1.1em;
	 }

	 .left-pricing-box {
	   order: 2;
		 width: 50%;
		 border-right: 1px solid lightgrey;
	 }

	 .right-pricing-box {
	   order: 3;
		 width: 50%;
		 border-left: 1px solid lightgrey;
	 }

	 .pricing-eventbrite  {
     width: 100%;
   }

	 .box-body td p {
		 font-size: 0.9em;
	 }
 }

 /* -------------------------------------
  * SPONSORS SECTION
  * ------------------------------------- */

#sponsors {
	background-color: black;
	color: white;
}
 .sponsors-section-body {
 	width: 70%;
 	margin-top: 5%;
 	margin-left: auto;
 	margin-right: auto;

 	p {
 		text-align: center;
 		font-size: 1em;

		a {
			text-decoration: none;
			color: #337ab7;
		}
 	}

	.sponsors-logos {
		display: flex;
		justify-content: space-around;
		// align-content: center;
		padding-top: 30px;

		img {
			width: 30%;
			height: 30%;
		}
	}

 }


 /* -------------------------------------
  * SPEAKERS SECTION
  * ------------------------------------- */

#speakers {
	background-color: #dddfd4;
	overflow: hidden;

	h2 {
		margin-bottom: 20px;
	}

  h3 {
    font-size: 1.1em;
  }
}

.speaker {
	opacity: 0;
	transform: translateX(-20px);
	text-align: center;
  margin-bottom: 10px;
  float: left;
  width: 50%;

  p {
    font-size: 12px;
  }

	&.show {
		opacity: 1;
		transform: translateY(0px);
		transition: 1s;
	}

  .description {
    padding: 15px 0;
  }

	img {
		display: block;
		width: 8em;
		height: 8em;
		margin: 0 auto;
		-webkit-filter: grayscale(1);
  	filter: grayscale(1);

  	&:hover {
	  	-webkit-filter: grayscale(0);
	  	filter: grayscale(0);
  	}
	}
}

 /* -------------------------------------
 * FOOTER SECTION
 * ------------------------------------- */

#footer {
	text-align: center;
	padding: 2%;

	a {
		text-decoration: none;
		color: #337ab7;
	}
}


// #footer {
// 	background-color: #173e43;
// 	padding: 30px;
// 	color: #fff;
// 	text-align: center;
//
// 	ul {
// 		padding: 0;
// 	}
// 	li {
// 		display: inline-block;
// 	}
// }


/* -------------------------------------
 * MEDIA QUERIES
 * ------------------------------------- */

@media screen and (min-width: 650px) {
	.speaker {
		float: left;
		width: 50%;

    img {
      width: 13em;
      height: 13em;
    }
	}

}

@media screen and (min-width: 900px) {
	.speaker {
		float: left;
		width: 33.3333%;
	}
	#schedule {
		padding-left: 10em;
		padding-right: 10em;
	}
}

@media (max-width: 991px) {
	.location {
		left: 20px;
		margin-left: 0;
	}
}

@media screen and (min-width: 1200px) {
	#speakers, #about {
		padding-left: 13%;
		padding-right: 13%;
	}

  .speaker {
    float: left;
    width: 25%;
  }

	#schedule {
		padding-left: 15em;
		padding-right: 15em;
	}
}

/* -------------------------------------
 * timeline
 * adapted from CSS3 Timeline by Peiwen Lu
 * ------------------------------------- */

#schedule {
	background-color: $primary-color;

	.section-heading {
		h1 {
			color: white;
		}

		hr {
			color: black;
			background-color: black;
		}
	}
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 75px;
  padding-left: 30px;
  border-left: 8px solid white;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}

#timeline p {
  margin: 0 0 15px;
}

.date {
	margin-top: 19px;
  top: 50%;
  left: -129px;
  font-size: 1.1em;
  line-height: 20px;
  position: absolute;
	color: white;
}

.circle {
  margin-top: -5px;
  top: 50%;
  left: -69px;
  width: 70px;
  height:70px;
  -webkit-filter: grayscale(1);
    filter: grayscale(1);
  border: 5px solid white;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  max-width: 90%;
  padding: 50px 20px 0;
  left: 20px;
  top: 30px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  position: relative;
	align-content: center;
}

.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}

.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.content:after {
  border-right-color: $primary-color;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 44px;
  left: 20px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}

.radio:checked + .relative .circle {
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.radio:checked ~ .content {
  max-height: 400px;
  border-color: white;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 300px;
  color: white;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 15%;
    padding-left: 5px;
    border-left: 2px solid white;;
  }

  #timeline li {
    margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -5px;
  }

  label {
    width: 70%;
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
		top: 17px;
  }

  .content {
    top: 0;
		max-width: 85%;
  }

  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

	.circle {
	  margin-top: -5px;
	  top: 50%;
	  left: -6px;
	  width: 10px;
	  height:10px;
	  -webkit-filter: grayscale(1);
	    filter: grayscale(1);
	  border: 2px solid white;
	  border-radius: 50%;
	  display: block;
	  position: absolute;
	}

	.date {
		margin-top: -2px;
	  top: 50%;
	  left: -52px;
	  font-size: 1.1em;
	  line-height: 5px;
	  position: absolute;
		color: white;
	}

}
